.containerRegister {
    display: flex;
    flex: 1;
    width: 100vw;
    height: 100vh;
}

.wrapperRightRegister {
    flex: 1;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.wrapperLeftRegister {
    flex: 1;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #edff03;

}

.imageBox {
    flex: 1;
    text-align: center;
}

.imageBox img {
    width: 60%;
    height: auto;
    transition: 0.5s;
}

.contentBox {
    flex: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.title {
    font-family: 'Praise', cursive;
    font-size: 44px;
    text-align: center;
    letter-spacing: normal;
    margin-top: -5px;
    color: #08253f;
    font-weight: 400;
}

.titleContent {
    font-size: 14px;
    color: #08253f;
    font-weight: 400;
    text-align: center;
    margin-top: -30px;
}

.inputBox {
    width: 325px;
    height: 48px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 24px;
    flex-direction: row;
    display: flex;
    margin-top: 48px;
}

.passwordBox {
    width: 325px;
    height: 48px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 24px;
    flex-direction: row;
    display: flex;
    margin-top: 14px;
}

.buttonBoxRegister {
    width: 325px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 24px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 14px;
}

.inputIcon {
    text-align: left;
    padding: 15px 15px 0px 24px;
}

.inputDesign {
    width: 100%;
    border: none;
    border-radius: 24px;
    color: #08253f;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

textarea:focus,
input:focus {
    outline: none;
}

.myButtonRegister {
    background-color: #08253f;
    color: #edff03;
    border-color: #08253f;
    font-size: 16px;
    border-radius: 24px;
    font-weight: 700;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    font-family: 'Poppins', sans-serif;

}

.myButtonRegister:hover {
    background-color: white;
    color: #08253f;
    transition: 0.5s;
    border-color: #08253f;
}

.forgotPassword {
    margin-top: 14px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.termOfUseLink {
    text-decoration: underline;
    color: #08253f;
    transition: 0.5s;
}

.termOfUseLink:hover {
    text-decoration: underlin;
    color: gray;
    transition: 0.5s;
}

.bottomSignUpRegister {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    margin-top: 48px;
    color: #08253f;
    position: absolute;
    bottom: 48px;
    right: 18%;
    transition: 0.5s;
}

.signupLinkRegister {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #08253f;
    text-decoration: none;
}

@media screen and (max-width: 1100px) {
    .bottomSignUpRegister {
        right: 18%;
        transition: 0.5s;
    }

    .imageBox img {
        width: 400px;
        height: auto;
        transition: 0.5s;
    }
}

@media screen and (max-width: 910px) {
    .bottomSignUpRegister {
        right: 14%;
        transition: 0.5s;
    }

    .imageBox img {
        width: 300px;
        height: auto;
        transition: 0.5s;
    }
}

@media screen and (max-width: 810px) {
    .bottomSignUpRegister {
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        margin-top: 48px;
        color: #08253f;
        position: absolute;
        bottom: 48px;
        display: flex;
        transition: 0.5s;
        justify-content: center;
        align-items: center;
        left: 10%;
        right: 10%;
    }

    .wrapperRightRegister {
        display: none;
    }
}

@media screen and (max-width: 310px) {
    .container {
        display: flex;
        flex: 1;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        background-color: #edff03;
    }

    .imageBox {
        flex: 0.1;
        text-align: center;
        visibility: hidden;
    }

    .wrapperRightRegister {
        display: none;
    }

    .wrapperLeftRegister {
        flex: 5;
        flex-direction: row;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 100vh;
        background-color: #edff03;
    }

    .imageBox img {
        width: 100px;
        height: auto;
        transition: 0.5s;
    }

    .contentBox {
        flex: 1;
        text-align: center;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .contentBox img {
        width: 30%;
    }


    .title {
        font-family: 'Praise', cursive;
        font-size: 36px;
        text-align: center;
        letter-spacing: normal;
        margin-top: -5px;
        color: #08253f;
        font-weight: 400;
    }

    .titleContent {
        font-size: 12px;
        color: #08253f;
        font-weight: 400;
        text-align: center;
        margin-top: -20px;
    }

    .inputBox {
        width: 275px;
        height: 48px;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        border-radius: 24px;
        flex-direction: row;
        display: flex;
        margin-top: 48px;
    }

    .passwordBox {
        width: 275px;
        height: 48px;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        border-radius: 24px;
        flex-direction: row;
        display: flex;
        margin-top: 14px;
    }

    .buttonBoxRegister {
        width: 275px;
        height: 48px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 24px;
        justify-content: center;
        align-items: center;
        display: flex;
        margin-top: 14px;
    }
}